<div class="contanier">
    <div class="row" style="width: 90%; text-align:center; margin:auto;">
        <div class="col-6 affset-3">
            <h4 style="color: aliceblue; font-size:xx-large">Modificar los tickets</h4>
            <form method="post" action="/admin/tickets/modificar">
                <input type="hidden" value="{{tickets.id}}" name="id">
                <div class="form-group">
                    <div class="form-group">
                        <textarea type="text" class="form-control" placeholder="Fecha"
                            name="Fecha">{{tickets.Fecha}}</textarea>
                    </div>
                    <div class="form-group">
                        <textarea type="text" class="form-control" placeholder="Lugar"
                            name="Lugar">{{tickets.Lugar}}</textarea>
                    </div>
                    <div class="form-group">
                        <textarea type="text" class="form-control" placeholder="Direccion"
                            name="Direccion">{{tickets.Direccion}}</textarea>
                    </div>
                    <div class="form-group">
                        <textarea type="text" class="form-control" placeholder="link"
                            name="link">{{tickets.link}}</textarea>
                    </div>
                    <button type="submit" class="btn btn-primary"> Modificar</button>
            </form>
        </div>
    </div>
    {{#if error}}
    <h5>{{message}}</h5>
    {{/if}}